.experience {
    background-color: #1f1f1f;
}
.experience__content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.experience__item {
    background-color: #353535;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px #0000004d;
}

.experience__role {
    font-size: 2rem;
    color: #fcfcfc;
    margin-bottom: 0.5rem;
}

.experience__company {
    color: #919191;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.experience__period {
    color: #a0a0a0;
}

.experience__description {
    font-size: 1.6rem;
    color: #d4d4d4;
    line-height: 1.6;
}

@media (max-width: 768px) {
    .experience__role {
        font-size: 1.8rem;
    }

    .experience__company,
    .experience__period {
        font-size: 1.2rem;
    }

    .experience__description {
        font-size: 1.4rem;
    }

    .experience__item {
        padding: 1.5rem;
    }
}

@media (max-width: 480px) {
    .experience__role {
        font-size: 1.6rem;
    }

    .experience__description {
        font-size: 1.3rem;
    }

    .experience__content {
        gap: 2rem;
    }
}
