* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    position: relative;
    line-height: 1.5;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: "helvetica", sans-serif;
}

html {
    scroll-behavior: smooth;
}
